In [2]:
import os
import numpy as np
import pandas as pd

In [4]:
authors_df = pd.read_csv(os.path.join(".", "some_scv.scv"))

authors_df.head()

                 author                                          authorUrl
0           Mike Pirnat                            http://mike.pirnat.com/
1           David Mertz  http://www.oreilly.com/programming/free/functi...
2       Muhammad Yasoob                             http://pythontips.com/
3  B. Miller & D. Ranum                        http://reputablejournal.com
4     Jeffrey Elkner...                          http://greenteapress.com/

In [28]:
df = pd.DataFrame({
                    "a": [1, 2, 3],
                    "b": [4, 5, 6],
                    "c": [7, 8, 9]
                  })

df[(df.a%2==0) & (df.c%2==0)]

   a  b  c
1  2  5  8

In [30]:

authors_df[authors_df.author.str.startswith("D")]

          author                                          authorUrl
1    David Mertz  http://www.oreilly.com/programming/free/functi...
17  Dave Kuhlman                      http://www.rexx.com/~dkuhlman
25  Doug Hellman                       http://www.doughellmann.com/
54   David Mertz                             http://gnosis.cx/TPiP/

In [31]:

authors_df[(authors_df.author.str.startswith("M")) & (authors_df.authorUrl.str.contains("python"))]

            author                               authorUrl
2  Muhammad Yasoob                  http://pythontips.com/
7     Mark Pilgrim  http://getpython3.com/diveintopython3/
8     Mark Pilgrim  http://getpython3.com/diveintopython3/

In [32]:
mask = (authors_df.author.str.startswith("M")) & (authors_df.authorUrl.str.contains("python"))
authors_df.loc[mask, :]

            author                               authorUrl
2  Muhammad Yasoob                  http://pythontips.com/
7     Mark Pilgrim  http://getpython3.com/diveintopython3/
8     Mark Pilgrim  http://getpython3.com/diveintopython3/